@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;
    --foreground: #000d1a;
    --card: #ffffff;
    --card-foreground: #000d1a;
    --popover: #ffffff;
    --popover-foreground: #000d1a;
    --primary: #112240;
    --primary-foreground: #f7faff;
    --secondary: #f0f5ff;
    --secondary-foreground: #112240;
    --muted: #f0f5ff;
    --muted-foreground: #697a8d;
    --accent: #f0f5ff;
    --accent-foreground: #112240;
    --destructive: #f53e3e;
    --destructive-foreground: #f7faff;
    --border: #e6ebf2;
    --input: #e6ebf2;
    --ring: #000d1a;
    --radius: 0.5rem;
    --chart-1: #e65c4f;
    --chart-2: #2abfb1;
    --chart-3: #336c7b;
    --chart-4: #ecc94b;
    --chart-5: #ffb366;
  }

  .dark {
    --background: #000d1a;
    --foreground: #f7faff;
    --card: #000d1a;
    --card-foreground: #f7faff;
    --popover: #000d1a;
    --popover-foreground: #f7faff;
    --primary: #f7faff;
    --primary-foreground: #112240;
    --secondary: #2d3847;
    --secondary-foreground: #f7faff;
    --muted: #2d3847;
    --muted-foreground: #91a4b8;
    --accent: #2d3847;
    --accent-foreground: #f7faff;
    --destructive: #7a1a1a;
    --destructive-foreground: #f7faff;
    --border: #2d3847;
    --input: #2d3847;
    --ring: #d4e1ed;
    --chart-1: #3366ff;
    --chart-2: #339999;
    --chart-3: #ffaa66;
    --chart-4: #cc66ff;
    --chart-5: #ff3366;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    TODO copy the dark theme colors here
  }
} */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
